/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    font-family: 'Roboto', sans-serif;
}
#main {
    width: 100%;
    background-color: #F2E7C5;
}
h1 {    
    font-size: 90px;
    font-weight: 600;
    color: #DC3D24;
}
h2 {
    font-size: 28px;
    font-weight: 600;
    color: #232B2B;
}
p {
    font-size: 24px;
}

header {
    height: 800px;
    padding: 10% 5% 0% 5%;
    min-height: 800px;
    background-image: url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}

.Senna-desc {
    margin-bottom: 30px;
}

.Senna-quote {
    padding-bottom: 20px;
}

.button {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 3px solid #DC3D24;
    height: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 8%;
    line-height: 20px; 
    color: #DC3D24;
    margin-top: 20px;
    font-size: 32px;  
    font-weight: 500;
    transition: 0.3s ease-in;
    margin: auto;
}

.button:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 3px solid #232B2B;
    height: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5%;
    line-height: 20px; 
    color:#232B2B;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    margin: auto;
}

.Senna-info{
    display: block;
    border-radius: 10px;
    height: 250px;
    min-height: 250px;
    width: 38vw;
    border: 3px solid rgb(220, 61, 36);
    margin-top: 25px ;
    text-align: center;
    padding: 50px;
    font-weight: 600;
}

.teams {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px;
    margin: 100px auto 100px;   
}

.teams .team {
    position: relative;
    background: #E49D74/*232B2B*/;
    width: 350px;
    margin: 0 auto;
    padding: 50px 50px 70px 50px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgb(23, 26, 26);
    overflow: hidden;
}

.Senna-description {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px 80px;
}

.teams .team .content .img-container {
    padding: 30px 0;
}

.teams .team .content .team-name {
    padding-top: 30px 0;
}

.teams .team p {
    padding-top: 20px;
    font-size: 20px;
    color: rgb(24, 5, 5);
    opacity: 0.7;
    text-align: center;
}

.teams .team h4 {
    color: #fff;
    opacity: 0.5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}

/*MEDIA QUERIES*/

@media only screen and (max-width:1630px) {
    header {
        height: 650px;
        padding: 10% 5% 0% 5%;
        min-height: 650px;
        background-image: url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
   
    header h1,h2 {
        width:100%;
    }
   
    .Senna-info {
        display: block;
        border-radius: 10px;
        height: auto;
        min-height: 250px;
        width: 50%;
        border: 2px solid rgb(220, 61, 36);
        margin-top: 25px ;
        text-align: center;
        padding: 50px;
        font-weight: 600;
    } 
}
   
@media only screen and (max-width:1400px) {   
    .Senna-info{
        display: block;
        border-radius: 10px;
        height: auto;
        min-height: 250px;
        width: 60%;
        border: 2px solid rgb(220, 61, 36);
        margin-top: 25px ;
        text-align: center;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
    }
   
    header h1,h2 {
        width: 100%;
        text-align: center;
    }
     
    header {
        height: 650px;
        padding: 10% 5% 0% 5%;
        min-height: 650px;
        background-image: url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
}   
   
@media only screen and (max-width:1300px) {
    
    .leo-info {
        display: block;
        border-radius: 10px;
        height: auto;
        min-height: 250px;
        width: 60%;
        border: 2px solid rgb(220, 61, 36);
        margin-top: 25px ;
        text-align: center;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        font-weight:600;
    }
   
    header h1,h2 {
        width: 100%;
        text-align: center;
    }
     
    header {
        height: 1000px;
        padding: 10% 5% 0% 5%;
        min-height: 1000px;
        background-image: url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
}
   
@media only screen and (max-width:480px) {
    
    .Senna-info {
        display: block;
        border-radius: 10px;
        height: auto;
        min-height: 250px;
        width: 60%;
        border: 2px solid rgb(220, 61, 36);
        margin-top: 25px ;
        text-align: center;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        font-weight:600;
    }
   
    header h1,h2 {
        width: 100%;
        text-align: center;
    }
   
    header h1 {
        font-size: 32px;
    }
   
    header h2 {
        font-size: 28px;
    } 
     
    .teams .team p {
        padding-top: 20px;
        font-size: 16px;  
    }
   
    .Senna-description {
        font-size: 28px;
        text-align: center;
        padding: 0px 5px 0 5px; 
    }
   
    .button {
        display: block;
        text-align: center;
        text-decoration: none;
        border: 2px solid #DC3D24;
        height: 20px;
        width: 150px;
        padding: 20px;
        border-radius: 5%;
        line-height: 20px; 
        color: #DC3D24;
        margin-top: 10px;
        font-size: 32px;  
        font-weight: 600;
        transition: 0.3s ease-in;
        margin:auto;
    }
   
    header {
        height: 900px;
        padding: 10% 0% 0% 0%;
        min-height: 900px;
        background-image: url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
   }
}
   
@media only screen and (max-width:320px) {
    header {
        height: 1000px;
        padding: 10% 0% 0% 0%;
        min-height: 1000px;
        background-image:url(https://i.pinimg.com/originals/fb/96/c9/fb96c9cb19b010299e9e8e404dc96cdf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
    }     
}